{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Favorito</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} ">
    <link rel="shortcut icon" href="{% static 'img/icon.ico'%}">
</head>
<body>
    <main>
        <h2>Registro de nuevo Favorito</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>


            <!-- <label for="nombre">Nombre: </label>
            <input type="text" name="nombre">
            <label for="url">URL del Favorito: </label>
            <input type="text" name="url">
            <button type="submit">Enviar</button> -->
        </form>
    </main>
</body>
</html>